<div class="symptoms-page">
    <div class="row container-fluid">
        <div class="col-5 bg-white">
            <%= link_to('Back', users_path, class:"btn doctor-btn-pill text-light mt-3") %> 
            <div class="mt-5">
                <p class="h4">You are about to edit this symptom</p>
            </div>
            <div class="container mt-4">
                <%= render 'form', symptom:@symptom %>
            </div>
        </div>
        <div class="col-7 symptoms-sub-page d-flex justify-content-center align-items-center">
            <img src="/images/undraw_medical_care_movn-_1_.png" class="doc2">
        <div>
    </div>
</div>