<h1>Thanks for signing up, <%= @user.username %>!</h1>

<p class="h6">your account has been activated</p>
<img src="/images/undraw_check_boxes_m3d0.png" style="width:36rem">
<p>Thanks for joining and have a great day! Now sign in and do
awesome things!</p>
<a href="https://nameless-hollows-99756.herokuapp.com/users" class="btn btn-primary mt-1">Signin</a>