<h1>Thanks for working with us, <%= @user.username %>!</h1>
    <img src="/images/undraw_check_boxes_m3d0.png" style="width:36rem">
    <p>A patient is waiting for, please access your dashboard and refresh the page to view the patient list!</p>
    <a href="https://nameless-hollows-99756.herokuapp.com/users" class="btn btn-primary mt-1">dashboard</a>